<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head') %>
</head>

<body>
    <%- include('navbar') %>
    <div class="container">
        <div class="title">
            Login & Signup
        </div>
        <div class="desc">
            로그인 & 회원가입 폼입니다.
        </div>
        <div class="row-top full">
            <div class="col-center">
                <div class="card full">
                    <div class="top">
                        <div class="tag">
                            <span class="material-icons">
                                people_alt
                            </span>
                        </div>
                        <div class="menu">
                            <span class="material-icons">
                                more_vert
                            </span>
                        </div>
                    </div>
                    <div class="title">
                        로그인
                    </div>
                    <div class="subtitle">
                        #Login #Signin
                    </div>
                    <div class="desc">
                        <div class="col-center">
                            <span class="label">아이디</span>
                            <div class="input-icon full">
                                <span class="material-icons">
                                    person
                                </span>
                                <input type="text" class="subinput" placeholder="Input Your ID">
                            </div>
                            <span class="label">비밀번호</span>
                            <div class="input-icon full">
                                <span class="material-icons">
                                    lock
                                </span>
                                <input type="password" class="subinput" placeholder="Input Your Password">
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <a href="#" class="btn-b full mg-0">
                            로그인
                        </a>
                    </div>
                </div>
                <div class="card full">
                    <div class="top">
                        <div class="tag">
                            <span class="material-icons">
                                people_alt
                            </span>
                        </div>
                        <div class="menu">
                            <span class="material-icons">
                                more_vert
                            </span>
                        </div>
                    </div>
                    <div class="title">
                        로그인
                    </div>
                    <div class="subtitle">
                        #Login #Signin
                    </div>
                    <div class="error">
                        <span class="material-icons">
                            warning
                        </span>
                        유효하지 않는 아이디입니다.
                    </div>
                    <div class="desc">
                        <div class="col-center">
                            <span class="label">아이디</span>
                            <div class="input-icon full">
                                <span class="material-icons">
                                    person
                                </span>
                                <input type="text" class="subinput" placeholder="Input Your ID">
                            </div>
                            <span class="label">비밀번호</span>
                            <div class="input-icon full">
                                <span class="material-icons">
                                    lock
                                </span>
                                <input type="password" class="subinput" placeholder="Input Your Password">
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <a href="#" class="btn-b full mg-0">
                            로그인
                        </a>
                    </div>
                </div>
                <div class="card full">
                    <div class="top">
                        <div class="tag">
                            <span class="material-icons">
                                people_alt
                            </span>
                        </div>
                        <div class="menu">
                            <span class="material-icons">
                                more_vert
                            </span>
                        </div>
                    </div>
                    <div class="title">
                        로그인
                    </div>
                    <div class="subtitle">
                        #Login #Signin
                    </div>
                    <div class="error">
                        <span class="material-icons">
                            warning
                        </span>
                        유효하지 않는 비밀번호입니다.
                    </div>
                    <div class="desc">
                        <div class="col-center">
                            <span class="label">아이디</span>
                            <div class="input-icon full">
                                <span class="material-icons">
                                    person
                                </span>
                                <input type="text" class="subinput" placeholder="Input Your ID">
                            </div>
                            <span class="label">비밀번호</span>
                            <div class="input-icon full">
                                <span class="material-icons">
                                    lock
                                </span>
                                <input type="password" class="subinput" placeholder="Input Your Password">
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <a href="#" class="btn-b full mg-0">
                            로그인
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-center">
                <div class="card full">
                    <div class="top">
                        <div class="tag">
                            <span class="material-icons">
                                group_add
                            </span>
                        </div>
                        <div class="menu">
                            <span class="material-icons">
                                more_vert
                            </span>
                        </div>
                    </div>
                    <div class="title">
                        회원가입
                    </div>
                    <div class="subtitle">
                        #Signup
                    </div>
                    <div class="desc">
                        <div class="col-center">
                            <span class="label">아이디</span>
                            <div class="input-icon full">
                                <span class="material-icons">
                                    person
                                </span>
                                <input type="text" class="subinput" placeholder="Input Your ID">
                            </div>
                            <span class="label">비밀번호</span>
                            <div class="input-icon full">
                                <span class="material-icons">
                                    lock
                                </span>
                                <input type="password" class="subinput" placeholder="Input Your Password">
                            </div>
                            <span class="label">이메일</span>
                            <div class="input-icon full">
                                <span class="material-icons">
                                    alternate_email
                                </span>
                                <input type="email" class="subinput" placeholder="Input Your E-mail">
                            </div>
                            <span class="label">생년월일</span>
                            <div class="input-date full">
                                <span class="material-icons">
                                    today
                                </span>
                                <div class="date">
                                    <input type="number" class="subinput input" placeholder="Year" min="1">
                                    <input type="number" class="subinput input" placeholder="Month" min="1" max="12">
                                    <input type="number" class="subinput input" placeholder="Day" min="1" max="31">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <a href="#" class="btn-b full mg-0">
                            회원가입
                        </a>
                    </div>
                </div>
                <div class="card full">
                    <div class="top">
                        <div class="tag">
                            <span class="material-icons">
                                group_add
                            </span>
                        </div>
                        <div class="menu">
                            <span class="material-icons">
                                more_vert
                            </span>
                        </div>
                    </div>
                    <div class="title">
                        회원가입
                    </div>
                    <div class="subtitle">
                        #Signup
                    </div>
                    <div class="error">
                        <span class="material-icons">
                            warning
                        </span>
                        입력 내용을 확인하세요.
                    </div>
                    <div class="desc">
                        <div class="col-center">
                            <span class="label">아이디</span>
                            <div class="input-icon full">
                                <span class="material-icons">
                                    person
                                </span>
                                <input type="text" class="subinput" placeholder="Input Your ID">
                            </div>
                            <span class="label">비밀번호</span>
                            <div class="input-icon full">
                                <span class="material-icons">
                                    lock
                                </span>
                                <input type="password" class="subinput" placeholder="Input Your Password">
                            </div>
                            <span class="label">이메일</span>
                            <div class="input-icon full">
                                <span class="material-icons">
                                    alternate_email
                                </span>
                                <input type="email" class="subinput" placeholder="Input Your E-mail">
                            </div>
                            <span class="label">생년월일</span>
                            <div class="input-date full">
                                <span class="material-icons">
                                    today
                                </span>
                                <div class="date">
                                    <input type="number" class="subinput input" placeholder="Year" min="1">
                                    <input type="number" class="subinput input" placeholder="Month" min="1" max="12">
                                    <input type="number" class="subinput input" placeholder="Day" min="1" max="31">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <a href="#" class="btn-b full mg-0">
                            회원가입
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="title">
            Login & Signup Combo
        </div>
        <div class="desc">
            로그인 & 회원가입 콤보 폼입니다.
        </div>
        <div class="row-top full">
            <div class="col-center">
                <div class="card full">
                    <div class="top">
                        <div class="tag">
                            <span class="material-icons">
                                people_alt
                            </span>
                        </div>
                        <div class="menu">
                            <span class="material-icons">
                                more_vert
                            </span>
                        </div>
                    </div>
                    <div class="tab">
                        <div class="item sel">
                            로그인
                            <span></span>
                        </div>
                        <div class="item">
                            회원가입
                            <span></span>
                        </div>
                    </div>
                    <div class="subtitle">
                        #Login #Signin
                    </div>
                    <div class="desc">
                        <div class="col-center">
                            <span class="label">아이디</span>
                            <div class="input-icon full">
                                <span class="material-icons">
                                    person
                                </span>
                                <input type="text" class="subinput" placeholder="Input Your ID">
                            </div>
                            <span class="label">비밀번호</span>
                            <div class="input-icon full">
                                <span class="material-icons">
                                    lock
                                </span>
                                <input type="password" class="subinput" placeholder="Input Your Password">
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <a href="#" class="btn-b full mg-0">
                            로그인
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>