<div class="navbar">
    <div class="content">
        <a class="logo" href="/">
            웹디자인가이드
        </a>
        <div class="menu">
            <ul class="drop">
                <li>
                    <a href="/">컴포넌트</a>
                    <ul class="dropmenu">
                        <li><a href="#">버튼</a></li>
                        <li><a href="#">버튼그룹</a></li>
                        <li><a href="#">입력</a></li>
                        <li><a href="#">카드</a></li>
                        <li><a href="#">드롭다운</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/form">폼</a>
                </li>
                <li>
                    <a href="/log">기록</a>
                    <ul class="dropmenu">
                        <li><a href="#">MENU1</a></li>
                        <li><a href="#">MENU2</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="item">
            <a class="btn-s">로그인</a>
            <a class="btn-s">회원가입</a>
        </div>
    </div>
</div>